body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #6b6464;
    color: #333;
}

h1 {
    color: #f1f1f1;
    font-size: 2em;
    text-align: center;
}

h2 {
    color: #728597;
    font-size: 1.75em;
}

h3 {
    color: #5d6d7e;
    font-size: 1.5em;
}

h4 {
    color: #7f8c8d;
    font-size: 1.25em;
}

h5 {
    color: #95a5a6;
    font-size: 1em;
}

h6 {
    color: #bdc3c7;
    font-size: 0.875em;
}